
authkey_sender_id=
session_secret=
next_public_dev_otp_bypass=
next_public_firebase_api_key=
next_public_firebase_auth_domain=
next_public_firebase_project_id=
next_public_firebase_storage_bucket=
next_public_firebase_messaging_sender_id=
next_public_firebase_app_id=
firebase_service_account_path=
mongodb_uri=
admin_phone_e164=
admin_email=
admin_firebase_uid=